{% extends "base.html" %}
{% load static %}


{% block title %} Contacto {% endblock %}

{% block content %}

<div class="container mt-5">
    <h1 class="text-body">Contacto</h1>
    <p class="text-body">Si tienes alguna pregunta o necesitas ayuda, no dudes en contactarnos. Estamos aquí para ayudarte.</p>

    <div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Full name</label>
  <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Your full name">
</div>

<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Email address</label>
  <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
</div>

<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Phone number</label>
  <input type="tel" class="form-control" id="exampleFormControlInput1" placeholder="Your phone number">
</div>

<div class="mb-3">
  <label for="exampleFormControlTextarea1" class="form-label" aria-placeholder="message">Your message</label>
  <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>

  <button type="button" class="btn btn-primary mt-3">Enviar mensaje</button>
</div>
{% endblock %}