{% load static %}
<!--carga la etiqueta static para poder usar archivos estaticos en el template -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>tienda de video juegos</title>

    <!--carga la etiqueta static para poder usar archivos estaticos en el template css -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" 
    rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" 
    crossorigin="anonymous">

    <link rel="stylesheet" href="{% static 'css/styles.css' %}  "> 
    
    <!--carga la etiqueta static para poder usar archivos estaticos en el template js-->
    <script src="{% static 'js/script.js' %}"></script>
   
</head>
<body>
    <h1>Bienvenidos a la tienda de juegos</h1>
     <p>Explora nuestro catalogo y disfruta</p>

     <footer>
        <p>2025 tienda de juegos</p>
        <a href="{%url 'contacto'%}">conctato</a>
     </footer>

     <img src="{% static 'img/logo.png'%}" alt="Logo de la tienda" width="200" height="200">
</body>
</html>