{% extends "base.html" %}
<!--Con extends se puede agragar el contenido de base.html a esta pagina -->
{% load static %}
<!--carga la etiqueta static para poder usar archivos estaticos en el template -->

{% block title %} Tienda de Video Juegos {% endblock %}

{% block content %}
<div class="container mt-5" style="text-align: center;">
    <h1 class="text-body">Bienvenidos a la tienda de video juegos</h1>
    <p class="text-body">Exploras nuestro catalogo de juegos y disfruta de las mejor experiencias</p>

    <img src="{% static 'img/logo.png' %}" alt="Logo de la tienda" class="img-fluid mt-4" style="max-width: 500px;" >

    <div class="alert alert-primary"> Nueva colección de juegos</div>

    <div class="alert alert-warning"> Nuevas ofertas</div>

    <div class="alert alert-danger"> Nueva experiencias exclusivas</div>
</div>

{% endblock %}